# Good cleaning algorithm here to get the spreadsheet in and cleaned up.

In [1]:
import numpy as np
import pandas as pd
import gspread

In [5]:
df1 = pd.read_excel('../E_HW_data_12_7.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '../E_HW_data_12_7.xlsx'

In [27]:


# df = df.drop(df.loc[0:17].index, axis=0, inplace=True)
# print(df.type())

In [28]:
df1.head(5)

df1.columns

Index(['Group Number', 'Group Name', 'Member ID', 'Last Name', 'First Name',
       'MI', 'Birth Date', 'Plan', 'Product', 'Member Status', 'Plan Type',
       'Plan Status', 'Plan Start Date', 'Plan End Date',
       'SelectHealth Account', 'VP Account',
       'Last Health Assessment (VP Health Check)',
       'Last Digital Coaching (1 VP Journey)',
       'Health Screening (Worksite or Provider)', 'Health Screening Due Date',
       'Select Primary Care Provider',
       'Activity Campaigns (VP Team Challenges) **', 'Jan', 'Feb', 'Mar',
       'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec',
       'VP Team Challenges Subtotal', 'Jan.1', 'Feb.1', 'Mar.1', 'Apr.1',
       'May.1', 'Jun.1', 'Jul.1', 'Aug.1', 'Sep.1', 'Oct.1', 'Nov.1', 'Dec.1',
       '7,000 Steps Subtotal', 'Jan.2', 'Feb.2', 'Mar.2', 'Apr.2', 'May.2',
       'Jun.2', 'Jul.2', 'Aug.2', 'Sep.2', 'Oct.2', 'Nov.2', 'Dec.2',
       'Healthy Habits Subtotal'],
      dtype='object')

In [29]:
# df1.columns

In [30]:
# Only Columns we need here sorting out the unnecessary column names. 

list_of_column_names = ['Last Name', 'First Name', 'Member Status', 'Plan Status', 'Product', 'Plan Type', 'Last Health Assessment \
(VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)','Activity \
Campaigns (VP Team Challenges) **']

df_sort = df1[list_of_column_names]

In [31]:
df_sort.head()

# Filter out only subscribers.
df_sort = df_sort[(df_sort['Member Status'] == 'SUBSCRIBER') & (df_sort['Product'] == 'SHARE') & (df_sort['Plan Type'] =='HDHP')]

df_sort.head(10)

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,SHARE,HDHP,11/21/2021,12/15/2021,X,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/14/2021,08/13/2021,X,6.0
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,,,X,2.0
6,Peterson,Luke,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,NaN,1.0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,SHARE,HDHP,01/31/2022,03/18/2022,X,1.0

In [32]:
# Replacing any blank cells with NaN
df_sort = df_sort.replace(r'^\s*$', np.nan, regex=True)

In [33]:
df_sort.head(20)

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,SHARE,HDHP,11/21/2021,12/15/2021,X,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,SHARE,HDHP,08/14/2021,08/13/2021,X,6.0
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,X,2.0
6,Peterson,Luke,SUBSCRIBER,ACTIVE,SHARE,HDHP,NaN,NaN,NaN,1.0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,SHARE,HDHP,01/31/2022,03/18/2022,X,1.0

In [34]:
# Pulling columns where we want to see if people have done something or not.  These columns are being prepared 
# for converting to 0's or 1's as a yes or no response. 

df_parse = df_sort[['Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)']]
df_parse.head(20)

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,11/21/2021,12/15/2021,X
1,08/14/2021,08/13/2021,X
5,NaN,NaN,X
6,NaN,NaN,NaN
7,01/31/2022,03/18/2022,X

In [35]:
# Dropping columns above from df_sort. Will remerge later. 

cols = ['Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)']
df_sort = df_sort.drop(labels=cols,axis=1)

In [36]:
df_sort.head(20)

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,SHARE,HDHP,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,SHARE,HDHP,6.0
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,2.0
6,Peterson,Luke,SUBSCRIBER,ACTIVE,SHARE,HDHP,1.0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,SHARE,HDHP,1.0

In [37]:
df_sort.dtypes

Last Name                                      object
First Name                                     object
Member Status                                  object
Plan Status                                    object
Product                                        object
Plan Type                                      object
Activity Campaigns (VP Team Challenges) **    float64
dtype: object

In [38]:
df_parse.head()

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,11/21/2021,12/15/2021,X
1,08/14/2021,08/13/2021,X
5,NaN,NaN,X
6,NaN,NaN,NaN
7,01/31/2022,03/18/2022,X

In [39]:
# This is converting anything that is null to a zero "int" dtype and anything notnull to a one "int" dtype.
 
df_parse = df_parse.notnull().astype('int')

In [40]:
df_parse.head()

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,1,1,1
1,1,1,1
5,0,0,1
6,0,0,0
7,1,1,1

In [41]:
# Testing iloc function and getting a feel for how it will come out. 
# Feel that it will be easier for program to run line by line through the data rather than create lists for each
# column. 

s1 = df_sort.iloc[1]

In [42]:
print(s1)

Last Name                                          Prows
First Name                                      Michelle
Member Status                                 SUBSCRIBER
Plan Status                                       ACTIVE
Product                                            SHARE
Plan Type                                           HDHP
Activity Campaigns (VP Team Challenges) **           6.0
Name: 1, dtype: object

In [43]:
type(s1[4])

str

In [44]:
# Merging these two dfs back together to one cleaned up file from the health insurance company. 

result = pd.concat([df_sort, df_parse], axis=1)

In [45]:
result.head()

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Activity Campaigns (VP Team Challenges) **,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,SHARE,HDHP,2.0,1,1,1
1,Prows,Michelle,SUBSCRIBER,ACTIVE,SHARE,HDHP,6.0,1,1,1
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,2.0,0,0,1
6,Peterson,Luke,SUBSCRIBER,ACTIVE,SHARE,HDHP,1.0,0,0,0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,SHARE,HDHP,1.0,1,1,1

In [46]:
# Pulling in data from our gsheets database into a new dataframe. 

gc = gspread.service_account(filename="/Users/travismagaluk/Documents/Coding Work/Other Wasatch Projects/Health_and_Wellness_Emails/excellent-range-359215-54acfee9562d.json")

sh = gc.open("Health And Wellness Tracking")

ws = sh.worksheet('Sheet1')

df = pd.DataFrame(ws.get_all_records())

df.head()

,Last Name,First Name,Email Address,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N)
0,Anderson,Ryan,travis.magaluk@wasatchacademy.org,0,0,100,N,Y
1,Applegarth,Paul,travis.magaluk@wasatchacademy.org,0,0,100,N,N
2,Bagley,Lori,travis.magaluk@wasatchacademy.org,4,0,100,N,Y
3,Barkdull,Jolean,travis.magaluk@wasatchacademy.org,2,0,100,N,Y
4,Bedell,Kerry,travis.magaluk@wasatchacademy.org,5,50,50,N,Y

In [47]:
# Play around with getting these to merge into one nice dataframe that we can use with the email generation part
# of this program. 

test = pd.merge(result, df, how="inner", on=["First Name", "Last Name"])

In [48]:
test.head()

,Last Name,First Name,Member Status,Plan Status,Product,Plan Type,Activity Campaigns (VP Team Challenges) **,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Email Address,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N)
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,SHARE,HDHP,2.0,1,1,1,travis.magaluk@wasatchacademy.org,,,,,
1,Prows,Michelle,SUBSCRIBER,ACTIVE,SHARE,HDHP,6.0,1,1,1,travis.magaluk@wasatchacademy.org,,,,,
2,Anderson,Ryan,SUBSCRIBER,ACTIVE,SHARE,HDHP,2.0,0,0,1,travis.magaluk@wasatchacademy.org,0,0,100,N,Y
3,Peterson,Luke,SUBSCRIBER,ACTIVE,SHARE,HDHP,1.0,0,0,0,travis.magaluk@wasatchacademy.org,,,,,
4,Schlachter,Margaret,SUBSCRIBER,ACTIVE,SHARE,HDHP,1.0,1,1,1,travis.magaluk@wasatchacademy.org,,,,,

In [49]:
test.shape

(5, 16)

In [50]:
test.columns

col_names = ['First Name', 'Last Name', 'Email Address',
       'Health Screening (Worksite or Provider)',
       'Last Health Assessment (VP Health Check)',
       'Last Digital Coaching (1 VP Journey)',
       'Activity Campaigns (VP Team Challenges) **',
       'Initiatives Completed', 'Reimbursements Received',
       'Reimbursement Left', 'Last Email Sent (Y/N)',
       'Current Employee (Y/N)']

test = test[col_names]

In [51]:
def reorder_rename_cols(old_df):
    list_of_column_names = ['First Name',
                            'Last Name',
                            'Email Address',
                            'Health Screening (Worksite or Provider)',
                            'Last Health Assessment (VP Health Check)',
                            'Last Digital Coaching (1 VP Journey)',
                            'Activity Campaigns (VP Team Challenges) **',
                            'Initiatives Completed',
                            'Reimbursements Received',
                            'Reimbursement Left',
                            'Last Email Sent (Y/N)',
                            'Current Employee (Y/N)']

    old_df = old_df[list_of_column_names].copy()
    renamed_df = old_df.rename(columns={'Health Screening (Worksite or Provider)': 'Health Screening',
                                        'Last Health Assessment (VP Health Check)': 'Health Assessment',
                                        'Activity Campaigns (VP Team Challenges) **': 'Activity Campaigns'})
    return renamed_df

In [52]:
test4 = reorder_rename_cols(test)

In [53]:
def completed_check(person_data, item, output):

    if person_data[item] == 1:
        completed.append(output)
    else:
        un_completed.append(output)

In [54]:
def data_gather(person_data):
    
    requirements = ({3: 'Health Screening',
                     4: 'Health Assessment',
                     5: 'Digital Coaching (VP Journey)',
                     6: 'First Activity Campaign',
                     7: 'Second Activity Campaign',
                 })
    
    f_name = person_data[0]
    l_name = person_data[1]
    email = person_data[2]
    completed = []
    un_completed = []
    
    for j in range(3,6):
        completed_check(person_data, j, requirements[j])
    
    return f_name, l_name, email, completed, un_completed

In [55]:
test4.head()

,First Name,Last Name,Email Address,Health Screening,Health Assessment,Last Digital Coaching (1 VP Journey),Activity Campaigns,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N)
0,Travis,Magaluk,travis.magaluk@wasatchacademy.org,1,1,1,2.0,,,,,
1,Michelle,Prows,travis.magaluk@wasatchacademy.org,1,1,1,6.0,,,,,
2,Ryan,Anderson,travis.magaluk@wasatchacademy.org,1,0,0,2.0,0,0,100,N,Y
3,Luke,Peterson,travis.magaluk@wasatchacademy.org,0,0,0,1.0,,,,,
4,Margaret,Schlachter,travis.magaluk@wasatchacademy.org,1,1,1,1.0,,,,,

In [59]:
person_data1= test4.iloc[1]

In [60]:
data_gather(person_data1)

NameError: name 'completed' is not defined

In [58]:
person_data1[0]

'Michelle'

In [60]:
# for i in range(len(test4)):
#     person_data = test4.iloc[i]
#     print(person_data)