# Work in progress. A few of these steps are out of order currently, but should be able to be easily rearanged for better flow and to make this general logic work.

In [84]:
import numpy as np
import pandas as pd
import gspread

In [85]:
df1 = pd.read_excel('Employee Wellness Spreadsheet 2.xlsx')

In [86]:


# df = df.drop(df.loc[0:17].index, axis=0, inplace=True)
# print(df.type())

In [87]:
df1.head(5)

,Group Number,Group Name,Member ID,Last Name,First Name,MI,Birth Date,Plan,Product,Member Status,...,Apr.2,May.2,Jun.2,Jul.2,Aug.2,Sep.2,Oct.2,Nov.2,Dec.2,Healthy Habits Subtotal
0,G1007098,WASATCH ACADEMY,801755286-00,Magaluk,Travis,W,05/29/1987,MEDICAL,SHARE,SUBSCRIBER,...,,,,,,,,,,0.0
1,G1007098,WASATCH ACADEMY,NaN,Prows,Michelle,,08/13/1970,MEDICAL,SHARE,SUBSCRIBER,...,,,,,X,X,,X,,5.0
2,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,SPOUSE,...,,,,,,,,,,0.0
3,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,DEPENDENT,...,,,,,,,,,,0.0
4,G1007098,WASATCH ACADEMY,NaN,NaN,NaN,NaN,NaN,MEDICAL,SHARE,DEPENDENT,...,,,,,,,,,,0.0

In [88]:
# df1.columns

In [89]:
list_of_column_names = ['Last Name', 'First Name', 'Member Status', 'Plan Status', 'Last Health Assessment \
(VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)','Activity \
Campaigns (VP Team Challenges) **']

df_sort = df1[list_of_column_names]

In [90]:
df_sort.head()

df_sort = df_sort[df_sort['Member Status'] == 'SUBSCRIBER']

df_sort.head(10)

,Last Name,First Name,Member Status,Plan Status,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,11/21/2021,12/15/2021,X,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,08/14/2021,08/13/2021,X,6.0
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,,,X,1.0
6,Peterson,Luke,SUBSCRIBER,ACTIVE,11/06/2021,02/13/2022,X,2.0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,01/31/2022,03/18/2022,X,9.0
8,Dole,Bob,SUBSCRIBER,NaN,NaN,NaN,NaN,NaN
9,Madsen,Travis,SUBSCRIBER,ACTIVE,,,,0.0
10,Townsend,Pete,SUBSCRIBER,NaN,NaN,NaN,NaN,NaN
11,McQuivy,Cassy,SUBSCRIBER,NaN,NaN,NaN,NaN,NaN

In [91]:
df_sort = df_sort.replace(r'^\s*$', np.nan, regex=True)

In [92]:
df_sort.head(20)

,Last Name,First Name,Member Status,Plan Status,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider),Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,11/21/2021,12/15/2021,X,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,08/14/2021,08/13/2021,X,6.0
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,NaN,NaN,X,1.0
6,Peterson,Luke,SUBSCRIBER,ACTIVE,11/06/2021,02/13/2022,X,2.0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,01/31/2022,03/18/2022,X,9.0
8,Dole,Bob,SUBSCRIBER,NaN,NaN,NaN,NaN,NaN
9,Madsen,Travis,SUBSCRIBER,ACTIVE,NaN,NaN,NaN,0.0
10,Townsend,Pete,SUBSCRIBER,NaN,NaN,NaN,NaN,NaN
11,McQuivy,Cassy,SUBSCRIBER,NaN,NaN,NaN,NaN,NaN

In [93]:
cols = ['Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)']
df_sort = df_sort.drop(labels=cols,axis=1)

In [94]:
df_sort.head()

,Last Name,First Name,Member Status,Plan Status,Activity Campaigns (VP Team Challenges) **
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,2.0
1,Prows,Michelle,SUBSCRIBER,ACTIVE,6.0
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,1.0
6,Peterson,Luke,SUBSCRIBER,ACTIVE,2.0
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,9.0

In [95]:
# df_sort.dtypes

In [96]:
df_parse = df_sort[['Last Health Assessment (VP Health Check)', 'Last Digital Coaching (1 VP Journey)', 'Health Screening (Worksite or Provider)']]

KeyError: "None of [Index(['Last Health Assessment (VP Health Check)',\n       'Last Digital Coaching (1 VP Journey)',\n       'Health Screening (Worksite or Provider)'],\n      dtype='object')] are in the [columns]"

In [62]:
df_parse.head()

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,11/21/2021,12/15/2021,X
1,08/14/2021,08/13/2021,X
5,NaN,NaN,X
6,11/06/2021,02/13/2022,X
7,01/31/2022,03/18/2022,X

In [64]:
df_parse = df_parse.notnull().astype('int')

In [65]:
df_parse.head()

,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,1,1,1
1,1,1,1
5,0,0,1
6,1,1,1
7,1,1,1

In [50]:
s1 = df_sort.iloc[1]

In [51]:
print(s1)

Last Name                                          Prows
First Name                                      Michelle
Member Status                                 SUBSCRIBER
Plan Status                                       ACTIVE
Last Health Assessment (VP Health Check)      08/14/2021
Last Digital Coaching (1 VP Journey)          08/13/2021
Health Screening (Worksite or Provider)                X
Activity Campaigns (VP Team Challenges) **           6.0
Name: 1, dtype: object

In [57]:
type(s1[4])

str

In [74]:
result = pd.concat([df_sort, df_parse], axis=1)

In [75]:
result.head()

,Last Name,First Name,Member Status,Plan Status,Activity Campaigns (VP Team Challenges) **,Last Health Assessment (VP Health Check),Last Digital Coaching (1 VP Journey),Health Screening (Worksite or Provider)
0,Magaluk,Travis,SUBSCRIBER,ACTIVE,2.0,1,1,1
1,Prows,Michelle,SUBSCRIBER,ACTIVE,6.0,1,1,1
5,Anderson,Ryan,SUBSCRIBER,ACTIVE,1.0,0,0,1
6,Peterson,Luke,SUBSCRIBER,ACTIVE,2.0,1,1,1
7,Schlachter,Margaret,SUBSCRIBER,ACTIVE,9.0,1,1,1

In [78]:


gc = gspread.service_account(filename="/Users/travismagaluk/Documents/Coding Work/Other Wasatch Projects/Health_and_Wellness_Emails/excellent-range-359215-54acfee9562d.json")

sh = gc.open("Health And Wellness Tracking")

ws = sh.worksheet('Sheet1')

df = pd.DataFrame(ws.get_all_records())

df.head()

,First Name,Last Name,Email Address,Initiatives Completed,Reimbursements Received,Reimbursement Left,Last Email Sent (Y/N),Current Employee (Y/N)
0,Travis,Magaluk,travis.magaluk@wasatchacademy.org,0,0,100,N,Y
1,John,Pikus,,0,0,100,N,N
2,Ryan,Anderson,ryan.anderson@wasatchacademy.org,4,0,100,N,Y
3,Luke,Peterson,luke.peterson@wasatchacademy.org,2,0,100,N,Y
4,Margaret,Schlachter,margaret.schlachter@wasatchacademy.org,5,50,50,N,Y